{# Глаывный шаблон страницы #}
<!doctype html>
<html lang="ru" >
<head>
    {% block meta %}
        <meta charset="utf-8">
    {% endblock %}
    <title>{{ title }}</title>
    {% block stylesheet %}{% endblock %}

</head>
<body>
{{ dump(app.request.server) }}
{% block header %}{% endblock %}
{% block content %}{% endblock %}
{% block footer %}{% endblock %}
{% block javascripts %}{% endblock %}
</body>
</html>