{# Глаывный шаблон страницы #}
<!doctype html>
<html lang="{{ lang_locate }}" >
<head>
    {% block meta %}
        <meta charset="utf-8">
    {% endblock %}
    <title>{{ title }}</title>
    {% block stylesheet %}{% endblock %}

</head>
<body>
{% block header %}{% endblock %}
{% block content %}{% endblock %}
{% block footer %}{% endblock %}
{% block javascripts %}{% endblock %}
</body>
</html>