{# Форма регистрации на сайте #}
{% extends 'layout.html.twig' %}

{% set title = 'Регистрация на сайте' %}
{% set description = 'Страница регистрации на сайте !' %}

{% block content %}
    <h4> Регистрация на сайте из пакета!!! </h4>
{% endblock %}