{# Шаблон страницы акаунта пользователя #}
{% extends 'layout.html.twig' %}

{% set title = 'Авторизация на сайте' %}
{% set description = 'Личный кабинет !' %}

{% block content %}
    <h4> Личный кабинет пользователя!!! </h4>
{% endblock %}