{# Форма авторизация на сайте #}
{% extends 'layout.html.twig' %}

{% set title = 'Авторизация на сайте' %}
{% set description = 'Страница авторизации на сайте !' %}

{% block content %}
    <h4> Авторизация на сайте из пакета!!! </h4>
    {{ form('loginForm') }}
{% endblock %}